 /* .carousel-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.carousel-item{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
} 

.carousel-header{
    font-size: 2rem;
    padding: 1rem;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    justify-content: space-between!important;
}

.carousel-title{
    margin: 2rem;
}

.carousel-main{

    display: flex;
    justify-content: space-evenly;
    width: 75vw;
}

.carousel-main-item{
    display: flex;
    width: 20%;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgb(211, 210, 210);
    margin: 1rem;
}
.carousel-main-item-header{
    padding: 1em;
    font-size: 1.5rem;
    background-color: rgb(73, 69, 69);
}
.carousel-main-item-ul{
    font-size: 1rem;
    padding-bottom: auto;

    color: black;
}

.carousel-footer{
    margin-top: 2rem;
    color: rgb(73, 69, 69);
    display: flex;
    justify-content: space-evenly;

}
.carousel-footer-item{
    border: solid #0043A8;
    padding: 1em;
    border-radius: 60%;
}

.carousel-img{
    width: 10rem;
    height: 8rem;
    margin-right: 2rem;


}
.carousel-header-main{
    display: flex;
    flex-direction: column;
    align-items: center;
} /*

/* 

*/
/* old carousel style */ 

.carousel__item{
    float: left;
}
.carousel-wrapper{
    padding-bottom: 5rem;
    overflow: hidden;
}
.carousel__container{
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after{
    content: '';
    clear: both;
    display: table;
}

.carousel{
    position: relative;
}


.carousel__next, .carousel__prev{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 10;
    background: #ffffff url(../../svgs/right-arrow.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s opacity 0.3 
}

.carousel__next:hover, .carousel__prev:hover{
    transform: scale(1.2);
}

.carousel__prev{
    right: auto;
    background-image: url(../../svgs/left-arrow.svg);
}

.carousel__prev--hidden, .carousel__next--hidden{
    display: none;
}


/*
New carousel style
*/
.img-carousel{
    width: 3em;
}
.carousel-h1{
    font-size: 3rem;
    text-align: center;
}
.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-main{
    display: flex;
    margin: 3em;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.carousel-main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0px;
}
.carousel-main-main{
    text-align: left;
    padding : 0; margin : 0;
}

.carousel-main1 div {
    width: 35%;
}

.carousel-main2 div {
    width: calc(100%/3);
}

.carousel-main3 div {
    width: calc(100%/4);
}

.carousel-main4 div {
    width: calc(100%/4);
}

.carousel-main1 .carousel-main-item1 {
    border-right: solid #0043A8 1px;
}
.carousel-main2 .carousel-main-item2 {
    border-right: solid #0043A8 1px;
    border-left: solid #0043A8 1px;
}

.carousel-main3 .carousel-main-item2 {
    border-left: solid #0043A8 1px;
}
.carousel-main3 .carousel-main-item3 {
    border-right: solid #0043A8 1px;
    border-left: solid #0043A8 1px;
}

.carousel-main4 .carousel-main-item2 {
    border-left: solid #0043A8 1px;
}
.carousel-main4 .carousel-main-item3 {
    border-right: solid #0043A8 1px;
    border-left: solid #0043A8 1px;
}

.carousel-main-header{
    margin: 1em;
    margin-top: 0!important;
}
