footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem;
    padding-bottom: 0.5rem!important;
}

.linkedin-img{
    width: 2.5rem;
}

.linkedin-img:hover{
    transform: scale(1.1);
}

.contact-him{
    margin: 2rem;
    cursor: pointer;
}

