footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.linkedin-img{
    width: 2.5rem;
}

.linkedin-img:hover{
    transform: scale(1.1);
}

.contact-him{
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}


.contact-him-wrapper{
    display: flex;
    align-items: center;
}

.adress{
    color: white;
    font-weight: 200;
    font-size: 1.3rem!important;
}

.contact-me{
    margin-right: 5em;
}

