

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}


.linkedin-img{
    width: 2.5rem;
}

.linkedin-img:hover{
    transform: scale(1.1);
}

.contact-him{
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}




.adress{
    color: white;
    font-weight: 200;
    font-size: 1.3rem!important;
}

.contact-me{
    margin-right: 5em;
}



.contact-him-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.contact-him-wrapper div{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}


.contact-him-wrapper div img{
    padding: 0.3rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 2rem;
    transition: .3s;

}


