
.presentation-wrapper{
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-evenly;
    flex-direction: column;

}

.presentation-item{
    margin: 30px;
}
.presentation-left{
    text-align: center;    
}