html, body, header, main, footer{
    position: relative;
    
}
@import url(_header.scss);

a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    // margin: 2rem;
    // margin-right: 5rem;
    position: relative;
    // left: 10rem;
    bottom: 1rem;
}

.main-presentation{
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: space-evenly;

}

.column{
    display: flex;
    flex-direction: column;
    
}
.presentation-item{
    margin: 30px;
}

.presentation-left{
    width: 50%;
}